DATABASE_URL=
TEST_DATABASE_URL=

BETTER_AUTH_URL=

BETTER_AUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_APP_URL=

RESEND_API_KEY=

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=

PADDLE_API_KEY=
PADDLE_WEBHOOK_SECRET=

NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=
NEXT_PUBLIC_PADDLE_ENV=

CONTACT_EMAIL=
ADMIN_EMAIL=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

NEXT_PUBLIC_APP_URL="http://localhost:3000"

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=